@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
body {
    background-color: #333;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'railway';
    justify-content: center;
}

#quote-box {
    border-radius: 5px;
    display: flex;
    background-color: #fff;
    padding: 40px;
    height: auto;
    width: 450px;
    text-align: right;
    flex-direction: column;
}

#text {
    padding: 10px 20px 10px 20px;
}

#quote-text {
    height: auto;
    text-align: left;
    font-size: 1.75em;
    font-weight: 400;
}

#author-text {
    font-size: 1.5em;
    margin: 0;
}

#control-wrap {
    margin-top: 5%;
}
.fade {
    position: relative;
    animation: fade 1.5s ease-in-out;
}
@keyframes fade {
    from {opacity: 1;}
    50% {opacity: 0;}
    to {opacity: 1;}
}
.button {
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
    color: white;
    float: right;
}

.button2 {
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
    color: white;
    float: right;
}

.button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.button2:hover {
    opacity: 0.8;
    cursor: pointer;
}

#tweet-quote {
    float: left;
    color: white;
    text-decoration: none
}